<br/>
<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" [(ngModel)]="nome" id="nome" name="nome"
            placeholder="Pesquisa por Nome">
    </div>
    <button type="button" (click)="consultarUsuario()" class="btn btn-primary mb-2">Buscar</button>

    <button type="button" [routerLink]="['/usuarioAdd']" routerLinkActive="router-link-active" style="margin-left: 5px;" class="btn btn-success mb-2">Novo</button>
</form>
<br/>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Cpf</th>
            <th scopo="col">Editar</th>
            <th scopo="col">Deletar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.id}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.cpf}}</td>
            <td><button [routerLink]="['/usuarioAdd', usuario.id]" routerLinkActive="router-link-active"  class="btn btn-info">Editar</button></td>
            <td><button (click)="deleteUsuario(usuario.id)" class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
</table>