<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Cpf</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.id}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.cpf}}</td>
            <td><button (click)="deleteUsuario(usuario.id)" class="btn btn-primary">Delete</button></td>
        </tr>
    </tbody>
</table>